.box {
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* 연한 회색 */
}
.infoSection {
  flex: 1;
  padding: 15px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.btnBox {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.scoreSection {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.chartBox {
  width: 100px;
  height: 100px;
}
