.container {
  display: flex;
  flex-direction: column;
}
.etc {
  width: 300px;
}
.upBox {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.graphBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
